#cursor-dot {
  position: fixed;
  left: 0;
  top: 0;
  width: 10px;
  height: 10px;
  background: #2641aa;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: transform 0.2s ease;

  mix-blend-mode: difference;
}
/* 
#cursor-dot.hovered {
  transform: translate(-50%, -50%) scale(20);
} */